**__pycache__**
Logs/**
plots/
evaluation/
sft/
**/archive/
Logger/**
.vscode/
.DS_Store

# files to be kept
# !Logger/
# !Logger/net FNOVertex; hs 64; dt 1;/
# !Logger/net FNOVertex; hs 64; dt 1;/2025-06-20 01:59:00
